legend{
    color: burlywood;
    cursor: pointer;
}
legend:hover{
    display: none;
}

h1{
    background-color: blue;
    color: aliceblue;
}

label{
    color: blanchedalmond;
    background-color: black;
}